<h1 text-align="center">Σ Sigma Blog ∃ ∀</h1>
<h3 text-align="center"> A Σ summation of thoughts from all over the world Ω</h3>
<h3> This is a blog application which strives to exist for humanity. Everyone all around the <br>
	world will be able to share their thoughts on all topics for other fellow humans to be <br>
	inspired. The features in this application makes it very easily to use. The purpose makes <br>
     this application open-source hence one may free free to fork the repository on github <br>
     and make this even better. Thought this apllication has been coded by <a href="http://github.com/adichat">Aditya Chatterjee</a><br>
 	but everyone is the owner and user of this wonderful application. Be open-minded and amiable <br>
 	while you use this blog and do not spam it. Still initially, we will be having just one <br>
 	administrator to manage all transactions but with the passage of time, some of the users <br>
 	will be elevated to the position of moderators and hence will be able to monitor the behaviour<br>
 	of fellow users. Gradually, the entire control will be transfered to the users and this will be <br>
 	a global open society in true sense.<br>
 	⊕ Be happy. ∞</h3>

<%= link_to " ~ Home", root_path %>