<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://github.com/AdiChat/Share">THE SIGMA BLOG</a>
      by <a href="http://www.github.com/AdiChat">Aditya Chatterjee</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>